{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha382-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg2Va+PmSTsz/K68vbdEjh2u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha382-rHyoN1iRsVXV2nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha382-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" href={% static "djangoinsurancerater/bootstrapstyle.css" %} />
  <script src={% static "djangoinsurancerater/scripts.js" %}></script>
</head>

<body style="min-width:266px">
  <div class="container">
    
    <div class="row">
      <p>
        Test {{ user.is_authenticated }} {{user.username}}
      </p>
    </div>

    {% for c in contractor_classes %}
    <form action="/rater/api/" method="get" class="form-horizontal">
      <div class="form-group">
        <div class="col-xs-6 col-lg-2 col-md-3 col-sm-6">

          <label for="iso_code">ISO Code:</label>
          <input class="iso_code_input form-control" type="number" name="iso_code" value="{{ c.iso_code }}" readonly>
        </div>
        <div class="col-xs-6 col-lg-2 col-md-3 col-sm-6">
          <label for="iso_description">ISO Description:</label>
          <p class="form-control-static">
            {{ c.iso_description }}
          </p>
        </div>
        <div class="col-xs-6 col-lg-4 col-md-3 col-sm-6">
          <label for="contractor_revenue_column">Revenue:</label>
          <input class="iso_revenue_input form-control" type="number" name="revenue" value="0">
        </div>

        <div class="col-xs-6 col-lg-4 col-md-3 col-sm-6">
          <label for="mold_hazard_group_column">Mold Hazard:</label>
          <select class="mold_hazard_group_input form-control" name="mold_hazard_group">
                    <option value="low">Low</option>
                    <option value="medium">Medium</option>
                    <option value="high">High</option>
                  </select>
        </div>

      </div>
      <div class="form-group">



        <div class="col-lg-2 col-md-3 col-sm-6">


          <label class="control-label">Premium X Mold:</label>



          <p class="form-control-static">
            {{ c.premium_ex_mold }}
          </p>
        </div>


        <div class="col-lg-2 col-md-3 col-sm-6">
          <label class="control-label">Mold Premium:</label>




          <p class="form-control-static">
            {{ c.mold_premium }}
          </p>
        </div>

        <div class="col-lg-4 col-md-3 col-sm-6">
          <label class="control-label">Premium:</label>



          <p class="form-control-static">
            {{ c.premium }}
          </p>
        </div>

        <div class="col-lg-4 col-md-3 col-sm-6">


          <input type="submit" class="btn btn-default btn-sm" value="Submit">
        </div>
      </div>

    </form>
    {% endfor %}

</body>

</html>